fastapi
uvicorn
jinja2
python-multipart
aiofiles
python-dotenv
colorama
numpy==1.24.4
pillow
opencv-python
gunicorn
pytest
requests
flake8
black
pre-commit
isort
httpx
pytesseract
easyocr
paddlepaddle
paddleocr
